.container {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    width: 80%;

    & > * {
        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        padding: 30px;
        width: 48%;
    }
}
